@font-face {
  font-family: 'Beleren';
  src: url('../fonts/Beleren.woff') format('woff');
  font-weight: normal;
}

@font-face {
  font-family: 'Droid Sans Mono';
  src: url('../fonts/DroidSansMono-webfont.woff.woff') format('woff');
  font-weight: normal;
}