// Mana Colors
$red:         rgb(247, 160, 117);
$green:       rgb(156, 195, 150);
$blue:        rgb(188, 217, 232);
$black:       rgb(193, 182, 174);
$white:       rgb(247, 245, 217);

$gray-text:   rgb(70, 70, 70);
$gray-box:    rgb(62, 62, 62);
$gray-border: rgb(82, 80, 80);

$darker-gray-text: darken($gray-text, 10%);

$game-option: #773B3B;